/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* define css-variables for color */

:root {
	--royal-purple: 106, 13, 173;
	--vibrant-red: 255, 59, 48;
	--deep-charcoal: 30, 30, 30;
	--cool-gray: 242, 242, 242;
	--energetic-orange: 255, 149, 0;
	--text-gray-value: 235, 235, 235;
	--test-orange: 224, 131, 0;

	--primary-energetic-orange: rgb(var(--test-orange));
	--primary-royal-purple: rgb(var(--royal-purple));
	--secondary-deep-charcoal: rgb(var(--deep-charcoal));
	--secondary-cool-gray: rgb(var(--cool-gray));
	--accent-vibrant-red: rgb(var(--vibrant-red));
	--text-gray: rgb(var(--text-gray-value));

	--orange-opacity-bg: rgba(var(--energetic-orange), 0.6);
	--purple-opacity-bg: rgba(var(--royal-purple), 0.6);
}

/* Utility classes for overriding bootstrap */

.energy {
	color: var(--primary-energetic-orange);
}
.royal {
	color: var(--primary-royal-purple);
}

.btn.royal {
	background-color: var(--primary-royal-purple);
	color: var(--secondary-cool-gray);
	border: var(--primary-royal-purple);
}

.text-small {
	color: var(--secondary-deep-charcoal);
	font-size: 80%;
	line-height: 100%;
}

/* Remove default styles applied by browser */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--secondary-cool-gray);
}

.logo-font {
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.logo-font-light {
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 500;
	font-style: italic;
}

html,
html > * {
	font-family: 'Montserrat', sans-serif;
	color: var(--secondary-deep-charcoal);
}

h1.logo-font {
	color: var(--secondary-cool-gray);
	text-transform: uppercase;
}

/* Hero */

#hero {
	max-width: none;
	background: url('../images/hero-index.webp') no-repeat center/cover;
}

section.hero {
	background-color: rgba(0, 0, 0, 0.4);
	min-height: 300px;
}

.hero > .col {
	align-self: end;
}

.hero h1 {
	text-align: end;
}

.hero p {
	margin-bottom: 0;
}

#testimonials {
	background-color: rgba(var(--test-orange));
}

#testimonials p {
	color: var(--text-gray);
}

.testimonial img {
	max-height: 200px;
}
