/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* define css-variables for color */

:root {
	--royal-purple: 106, 13, 173;
	--vibrant-red: 255, 59, 48;
	--deep-charcoal: 30, 30, 30;
	--cool-gray: 242, 242, 242;
	--energetic-orange: 255, 149, 0;
	--text-gray-value: 235, 235, 235;
	--test-orange: 224, 131, 0;

	--primary-energetic-orange: rgb(var(--test-orange));
	--primary-royal-purple: rgb(var(--royal-purple));
	--secondary-deep-charcoal: rgb(var(--deep-charcoal));
	--secondary-cool-gray: rgb(var(--cool-gray));
	--accent-vibrant-red: rgb(var(--vibrant-red));
	--text-gray: rgb(var(--text-gray-value));

	--orange-opacity-bg: rgba(var(--energetic-orange), 0.6);
	--purple-opacity-bg: rgba(var(--royal-purple), 0.6);
	--logo-font: 'Chakra Petch', sans-serif;
}

/* Utility classes for overriding bootstrap */

.energy {
	color: var(--primary-energetic-orange);
}
.royal {
	color: var(--primary-royal-purple);
}

.btn.royal {
	background-color: var(--primary-royal-purple);
	color: var(--secondary-cool-gray);
	border: var(--primary-royal-purple);
}

.text-small {
	color: var(--secondary-deep-charcoal);
	font-size: 16px;
}

/* Button Override */

button,
.btn {
	border-radius: 0;
}

/* Utility class for setting section colours */

.alt-colour {
	background-color: var(--primary-energetic-orange);
	color: var(--text-gray);
}

/* Remove default styles applied by browser */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--secondary-cool-gray);
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.logo-font {
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.logo-font-light {
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 500;
	font-style: italic;
}

html,
html > * {
	font-family: 'Montserrat', sans-serif;
	color: var(--secondary-deep-charcoal);
}

h1.logo-font {
	color: var(--secondary-cool-gray);
	text-transform: uppercase;
}

/* Nav */

/* nav {
	background-color: var(--secondary-deep-charcoal);
} */
.navbar-brand {
	color: var(--primary-energetic-orange);
	font-family: var(--logo-font);
	font-weight: 700;
	font-style: italic;
}

span.navbar-toggler-icon {
	color: var(--primary-energetic-orange);
}

.nav-link {
	color: var(--secondary-deep-charcoal);
}

.navbar-nav .nav-link.active {
	color: var(--primary-energetic-orange);
}

/* Hero */

#hero,
#hero-registration {
	max-width: none;
	background: url('../images/hero-index.webp') no-repeat center/cover;
}

section.hero {
	background-color: rgba(0, 0, 0, 0.4);
	min-height: 300px;
}

.hero > .col {
	align-self: end;
}

.hero h1 {
	text-align: end;
}

.hero p {
	margin-bottom: 0;
}

/* Features section */

#home-features .card {
	min-height: 640px;
}

.card-text {
	font-size: 1rem;
}
/* Testimonial section */

#testimonials p {
	color: var(--text-gray);
}

.testimonial img {
	max-height: 200px;
}

/* Footer */

#footer {
	min-width: 100%;
	background-color: var(--secondary-deep-charcoal);
}

#footer ul {
	list-style: none;
	padding: 0;
}

#footer ul a {
	text-decoration: none;
}

#social-networks {
	text-align: center;
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}

#social-networks i {
	font-size: 160%;
	padding: 5%;
	color: var(--primary-royal-purple);
}

.privacy-link,
.log-in-link {
	margin-top: 1.5rem;
}

/* Momentum Page */

#momentum-features .card {
	min-height: 480px;
}

/* Fitness Registration Page */

#cta-fitness {
	flex-grow: 1;
}

button.royal-btn {
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid var(--primary-royal-purple);
	color: var(--primary-royal-purple);
}

button.royal-btn:hover {
	background-color: var(--primary-royal-purple);
	color: var(--secondary-cool-gray);
	border-color: var(--primary-royal-purple);
}

/* Modal */

.modal-content.sharp-corners,
.registration-form input {
	border-radius: 0;
}

.modal-header h1 {
	text-align: center;
}

.modal-body {
	background-color: var(--primary-energetic-orange);
}

.modal-body .tagline {
	color: var(--secondary-cool-gray);
}

.modal-body label {
	font-family: inherit;
	color: var(--primary-royal-purple);
}

#fitnessRegistrationModal button.fitness-cta {
}
/* 404 Page */

#not-found p {
	font-size: larger;
}

#not-found a {
	text-decoration: none;
}
